<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-row">
      <ion-title>{{ title }}</ion-title>
      <ion-img src="assets/pokeball.png" style="height: 40px; width: 40px; object-fit: contain; margin-right: 10px;" />
      @if(isInHome){
        <div class="small-searchbar">
          <ion-searchbar
            animated="true"
            placeholder="Procure pelos pokemons!"
            show-clear-button="focus"
            [debounce]="1000" 
            (ionInput)="handleInput($event)"
          ></ion-searchbar>
        </div>
      }
    </div>
  </ion-toolbar>
</ion-header>

@if(!isInHome){
<ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
}
