.small-searchbar {
  max-width: 200px;
  margin-left: auto;
}

.toolbar-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

ion-title {
  width: calc(100% - 230px);
}
ion-searchbar {
  --height: 32px;
  font-size: 14px;
}

ion-toolbar {
  display: flex !important;
  flex-direction: row !important;
}
