<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      @for (pokemon of favoritos; track pokemon.name) {
      <ion-col size="6" sizeMd="3" sizeLg="2">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      </ion-col>
      } @empty {
      <ion-col size="12">
        <div class="empty-favorites">
          <ion-icon name="star-outline" size="large"></ion-icon>
          <ion-label>Nenhum Pokémon favoritado ainda!</ion-label>
          <p>Toque na estrela de um card para adicionar aos favoritos.</p>
        </div>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
