<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokedex </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      @for (pokemon of pokemons; track pokemon.name) {
      <ion-col size="6" sizeMd="3" sizeLg="2">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      </ion-col>
      } @empty {
      <ion-item class="home-container">
        <ion-label>Nenhum pokemon!</ion-label>
      </ion-item>
      }
    </ion-row>
  </ion-grid>

  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-button (click)="prevPage()" [disabled]="!prevPageUrl"
      >Anterior</ion-button
    >
    <ion-button (click)="nextPage()" [disabled]="!nextPageUrl"
      >Próxima</ion-button
    >
  </ion-row>
</ion-content>
